.project-tab {
  width: 100%;
  height: 100%;
  display: none;
}

.project-base {
  padding: 20px !important;
}

.project-info {
  gap: 10px;
}

.desc {
  padding: 20px !important;
}

.imege {
  max-width: 100% !important;
}


.img-container {
  aspect-ratio: 2/1 !important;
}