.about_me {
  display: flex;
  flex-direction: column;
  background: #bbd0ff;
  gap: 30px;

  .abt_header {
    display: flex;
    align-items: center;
    margin: 30px;
    margin-bottom: 0;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }

  .avatar1 {
    border-radius: 10%;
    border: 4px solid white;
    background-size: 150%;
    background-position: center center;
    min-width: 120px;
    min-height: 120px;
    width: 12vw;
    height: 12vw;
    background-image: url(../media/avatar.webp);
  }

  .name {
    flex: 1;
    text-align: left;
    font-size: 5vmin;
    font-weight: 600;
    text-shadow: 0 0 5px black;
    line-height: 70%;
    font-family: 'Silkscreen';
    color: white;
  }

  .abt_text {
    height: 60%;
    background: white;
    overflow: auto;
    padding: 10px 50px;
    box-sizing: border-box;
    margin: 30px;
    margin-top: 0;
    border-radius: 10px;
    line-height: 1.5;
    font-weight: 300;
  }
}
