body {
  padding: 0;
  margin: 0;
  cursor: url("../media/cursor_small.png"), auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffc8dd;
}

.geometric-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.shape {
  position: absolute;
  opacity: 0.35;
  transform-origin: center;
}

.square {
  width: 40px;
  height: 40px;
  background: #00fa85;
  animation: rotate 20s infinite linear;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4c85f0;
  animation: pulse 15s infinite alternate;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #7209b7;
  animation: float 12s infinite ease-in-out;
}

.rectangle {
  width: 50px;
  height: 50px;
  background-image: url(../shapes/star.svg);
  animation: slide 18s infinite linear;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.particle {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: white;
  opacity: 1;
  animation: sparkle 8s infinite linear;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent 10%, #ffafcc 100%);
  z-index: 4;
  animation: pulse-overlay 10s infinite alternate;
}

html,
body,
* {
  cursor: url("../media/cursor_small.png"), auto;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9fbc0;
  border-radius: 10px;
  border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #84dcc6;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  cursor: url("../media/cursor_small.png"), auto;
}

.main {
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: url("../media/cursor_small.png"), auto;
  z-index: 5;
  position: relative;
}

.ttl {
  text-align: right;
  padding: 0% 5%;
  font-family: "Chokokutai";
  font-size: 7vmin;
  font-style: italic;
  color: white;
  text-shadow: 0 0 5px rgb(50, 34, 190);
}

.avatar {
  width: 16vw;
  height: 16vw;
  min-width: 150px;
  min-height: 150px;
  background: url(../media/avatar.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 100%;
  border: 8px solid white;
  background-size: 120%;
  box-shadow: 0 0 10px 3px rgba(207, 42, 125, 0.3),
    inset 0px 0px 5px 1px black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  cursor: url("../media/cursor_big.png"), auto !important;
  transition: 0.3s ease-in-out;
}

.avatar:hover ~ .boton {
  animation-play-state: paused;
}

.avatar:hover {
  box-shadow: 0 0 10px 5px rgba(207, 42, 125, 0.5);
  width: 17vw;
  height: 17vw;
  transform: translateX(-50%) translateY(-50%) rotate(360deg);
}

.bio-base {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: url("../media/cursor_small.png"), auto !important;
  border: none;
}

.bio {
  width: 40%;
  height: 70%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 5;
  flex-direction: row-reverse;
  align-items: flex-start;
  opacity: 1;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  font-family: 'Cascadia Code';
  color: rgb(65, 65, 65);

}

/* When popover is visible */
.bio:popover-open {
  animation: popIn 0.3s ease forwards;
  opacity: 1;
  display: flex;
}

.bio_btns {
  position: absolute;
  top: 50%;
  left: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bio_btns input {
  display: none;
}

.bio_btns label {
  width: 6vw;
  height: 5vh;
  background-color: #ffce74;
  display: block;
  margin-bottom: 10px;
  cursor: url("../media/cursor_big.png"), auto !important;
  position: relative;
  left: -2vw;
  z-index: 0;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 2.5vw 0px 10px rgba(0, 0, 0, 0.5);

  background-repeat: no-repeat;
  background-position: 80% center;
}

.bio_btns label:nth-of-type(1) {
  background-image: url(../media/abtme.webp);
  background-size: 30%;
}

.bio_btns label:nth-of-type(2) {
  background-image: url(../media/skills.webp);
  background-size: 40%;
}

.bio_btns label:nth-of-type(3) {
  background-image: url(../media/hobby.webp);
  background-size: 40%;
}

.bio_btns label:hover {
  left: 0;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 10px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(105%);
}

.bio_btns input:checked + label {
  left: -10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 2vw 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(110%);
}

.bio_container {
  flex: 1;
  background-color: green;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bio_navbar {
  background: #be67f5;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row-reverse;
  z-index: 10;
  flex-shrink: 0;
  position: relative;
}

.bio_tabs {
  width: 100%;
  position: relative;
  height: 100%;
  flex: 1;
}

.bio:has(#about_me:checked) .bio_tabs .about_me {
  opacity: 1;
  z-index: 10;
}
.bio:has(#skills:checked) .bio_tabs .skills {
  opacity: 1;
  z-index: 10;
}
.bio:has(#hobbies:checked) .bio_tabs .hobbies {
  opacity: 1;
  z-index: 10;
}

.bio_tabs > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.close_btn {
  width: 40px;
  height: 40px;
  background-color: #fc5d5f;
  cursor: url("../media/cursor_big.png"), auto !important;
  border-radius: 100%;
  margin: 10px;
  border: 3px solid white;
}

/* ----- BUBBLES ----- */

.boton:hover > div {
  display: block;
  filter: none !important;
}

.boton:hover {
  animation-play-state: paused;
  filter: drop-shadow(0 0 5px white);
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.hovy1 {
  left: -100%;
  top: 40%;
}

.hovy2 {
  left: 120%;
  top: 45%;
}

.hovy3 {
  left: 100%;
  top: 45%;
}

.hovy1,
.hovy2,
.hovy3 {
  min-width: 100px;
  max-width: 150px;
  height: auto;
  padding: 10px 30px;
  background: #caffbf;
  color: black;
  position: absolute;
  text-align: center;
  display: none;
  filter: none !important;

  transform: scale(0.8);
}

.gh-hov {
  top: -100%;
  left: -40%;
}

.linkedn-hov {
  top: -100%;
  left: -35%;
}

.mail-hov {
  top: -120%;
  left: -45%;
}

.code-hov {
  top: -90%;
  left: -35%;
}

.gh-hov,
.linkedn-hov,
.mail-hov,
.code-hov {
  min-width: 50px;
  max-width: 120px;
  height: auto;
  padding: 10px 20px;
  background: lightsteelblue;
  color: white;
  position: absolute;
  text-align: center;
  display: none;

  filter: none !important;
  transform: scale(0.8);
}

/* Cursor */
.cursor {
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Space Grotesk';
  font-weight: 600;
}
/* Animation */
.typewriter-animation {
  animation: typewriter 1s steps(10) 0.2s 1 normal both,
    blinkingCursor 500ms steps(10) normal;
}

.web_btn {
  min-width: 80px;
  min-height: 80px;
  width: 10vw;
  height: 10vw;
  background: url(../media/web.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  top: 20%;
  left: 30%;
  cursor: url("../media/cursor_big.png"), auto !important;
  animation: webAnim 1s infinite ease-in-out;

  filter: drop-shadow(0 0 5px #35d5eb);
}

.thesis_btn {
  min-width: 80px;
  min-height: 80px;
  width: 10vw;
  height: 10vw;
  background: url(../media/thesis.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  top: 75%;
  left: 45%;
  cursor: url("../media/cursor_big.png"), auto !important;
  border: none;
  filter: drop-shadow(0 0 5px #35d5eb);

  animation: thesAnim 1s -1.5s infinite ease-in-out;
}

.android_btn {
  min-width: 80px;
  min-height: 80px;
  width: 11vw;
  height: 11vw;
  background: url(../media/android2.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  border: none;
  left: 60%;
  top: 0;
  cursor: url("../media/cursor_big.png"), auto !important;

  filter: drop-shadow(0 0 5px #35d5eb);

  animation: andrAnim 1s -0.8s infinite ease-in-out;
}

.gh_btn {
  width: 3vw;
  height: 3vw;
  min-width: 50px;
  min-height: 50px;
  background: url(../media/gh.webp);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  border-radius: 100%;
  position: absolute;
  top: 22%;
  left: 52%;
  cursor: url("../media/cursor_big.png"), auto !important;
  border: 2px solid black;
  animation: ghAnim 1s -1s infinite ease-in-out;

  filter: drop-shadow(0 0 5px #35d5eb);
}

.linkedn_btn {
  width: 3.5vw;
  height: 3.5vw;
  min-width: 50px;
  min-height: 50px;
  background: url(../media/in.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 25%;
  cursor: url("../media/cursor_big.png"), auto !important;
  filter: drop-shadow(0 0 5px #35d5eb);

  animation: linAnim 1s -0.5s infinite ease-in-out;
}

.codepen_btn {
  width: 3.5vw;
  height: 3.5vw;
  min-width: 50px;
  min-height: 50px;
  background: url(https://assets.codepen.io/1584356/codepen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 100%;
  position: absolute;
  top: 34%;
  left: 65%;
  cursor: url("../media/cursor_big.png"), auto !important;
  border: 2px solid white;

  filter: drop-shadow(0 0 5px #35d5eb);

  animation: codAnim 1s -0.5s infinite ease-in-out;
}

.email_btn {
  width: 2.5vw;
  height: 2.5vw;
  min-width: 50px;
  min-height: 50px;
  background: url(../media/email.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border-radius: 100%;
  position: absolute;
  top: 65%;
  left: 35%;
  cursor: url("../media/cursor_big.png"), auto !important;
  border: 2px solid #444f75;
  animation: emAnim 1s -1.2s infinite ease-in-out;

  filter: drop-shadow(0 0 5px #35d5eb);
}

.cr {
  position: absolute; 
  right: 2%; 
  display: flex; 
  align-items: end; 
  bottom: 7%;
  cursor: url("../media/cursor_small.png"), auto !important;
}

.credits {
  display: none;
  width: 20vw; 
  height: auto; 
  background: white; 
  overflow: auto;
  padding: 15px;
  font-size: 1.3vmin;
  margin-right: 20px;
  border-radius: 20px;
  font-family: 'Cascadia Code';
}

.credit-close {
  width: 50px; 
  height: 50px; 
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent !important;
  border: 5px solid white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  cursor: url("../media/cursor_big.png"), auto;
}


/* ----- ANIMATIONS ----- */
/*web*/
@keyframes webAnim {
  0% {
    top: 15%;
  }

  50% {
    top: 16%;
  }

  100% {
    top: 15%;
  }
}
/*thesis*/
@keyframes thesAnim {
  0% {
    top: 75%;
  }

  50% {
    top: 76%;
  }

  100% {
    top: 75%;
  }
}
/*android*/
@keyframes andrAnim {
  0% {
    top: 60%;
  }

  50% {
    top: 61%;
  }

  100% {
    top: 60%;
  }
}
/*gh*/
@keyframes ghAnim {
  0% {
    top: 22%;
  }

  50% {
    top: 20%;
  }

  100% {
    top: 22%;
  }
}
/*linkedn*/
@keyframes linAnim {
  0% {
    top: 50%;
  }

  50% {
    top: 48%;
  }

  100% {
    top: 50%;
  }
}
/*codepen*/
@keyframes codAnim {
  0% {
    top: 34%;
  }

  50% {
    top: 32%;
  }

  100% {
    top: 34%;
  }
}
/*email*/
@keyframes emAnim {
  0% {
    top: 65%;
  }

  50% {
    top: 67%;
  }

  100% {
    top: 65%;
  }
}

@keyframes popIn {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  } /* delete back to zero */
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 0.1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) translateX(20px) rotate(180deg);
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(360deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100px) rotate(0deg);
  }

  50% {
    transform: translateX(100px) rotate(180deg);
  }

  100% {
    transform: translateX(-100px) rotate(360deg);
  }
}

@keyframes pulse-overlay {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sparkle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
