.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.column {
  flex-shrink: 0;
  height: auto;
  width: 20%;
  float: left;
  margin: 5px;
}

.wrapper {
  height: auto;
  width: 85%;
  border-left: dashed 2px var(--color-surface50);
  border-right: dashed 2px var(--color-surface50);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

.box_inner {
  cursor: url(../media/cursor_big2.png), auto;
  width: 100%;
  height: 100%;
}

.small-prev,
.small-next {
  cursor: url(../media/cursor_big2.png), auto;
  position: absolute;
  color: white;
  font-size: 13px;
  user-select: none;
  -webkit-user-select: none;
  z-index: 10;
  width: 4vmin;
  height: 4vmin;
  border-radius: 100%;
  background-color: #ff8fab;
  border: none;
  padding-bottom: 3px;
}

.small-next {
  right: 0;
  margin-right: 10px;
}

.small-prev {
    left: 0;
    margin-left: 10px;
    padding-right: 5px;
}

.small-prev:hover,
.small-next:hover {
    background-color: #ffb3c6;
}

.demo {
  opacity: 0.6;
  aspect-ratio: 2/1;
}

.column.active .demo,
.demo:hover {
  opacity: 1 !important;
}
