body {
  padding: 0;
  margin: 0;
  cursor: url("../media/cursor_small2.png"), auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #c0fdff;
}

.geometric-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.shape {
  position: absolute;
  opacity: 0.35;
  transform-origin: center;
}

.square {
  width: 40px;
  height: 40px;
  background: #ff89d2;
  animation: rotate 20s infinite linear;
  opacity: 0.8;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4c85f0;
  animation: pulse 15s infinite alternate;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #7209b7;
  animation: float 12s infinite ease-in-out;
}

.rectangle {
  width: 50px;
  height: 50px;
  background-image: url(../shapes/star.svg);
  animation: slide 18s infinite linear;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.particle {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: white;
  opacity: 1;
  animation: sparkle 8s infinite linear;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent 80%, #8eecf5 100%);
  z-index: 4;
  animation: pulse-overlay 10s infinite alternate;
}

html,
body,
* {
  cursor: url("../media/cursor_small2.png"), auto;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  cursor: url("../media/cursor_small2.png"), auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9fbc0;
  border-radius: 10px;
  border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #84dcc6;
}

.main {
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: url("../media/cursor_small2.png"), auto;
  z-index: 5;
  position: relative;
}

.ttl {
  text-align: right;
  padding: 0% 5%;
  font-family: "Silkscreen";
  font-size: 7vmin;
  font-style: italic;
  color: white;
  text-shadow: 0 0 5px rgb(50, 34, 190);
}

.back-btn {
  width: 5vw; 
  height: 5vw; 
  background: url(../media/back.webp); 
  border-radius: 100%; 
  display: block; 
  position: absolute; 
  top: 0;
  margin-left: 5%;
  cursor: url(../media/cursor_big2.png), auto;
  background-size: contain;
  transform: rotate(90deg);
  border: 5px solid white;
  box-shadow: 0 0 5px rgb(50, 34, 190);
}



    .project-tab {
      width: 100%; 
      height: 100%; 
      display: block;
    }

    .project-base {
      width: 80%;
      height: auto;
      background: #cddafd;
      border-radius: 30px;
      padding: 20px 0 20px 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

      position: absolute; 
      top: 35%; 
      left: 50%; 
      transform: translateX(-50%) translateY(-30%); 
      z-index: 10;
    }

    .project-ttl {
      margin-bottom: 0 !important; 
      margin-top: 0;
      color: #677ea8;
      text-shadow: 0 0 5px white;
    }

    .project-status {
      background: #677ea8;
      margin-bottom: 10px;
      padding: 5px 15px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
    }

.project-info {
  display: flex;
  width: 90%;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel {
  width: 60%;
  border-radius: 20px;
  background: #edf2fb;
  min-height: 47vh;
  height: 490px;
}

.project-desc {
  background: #edf2fb;
  width: 40%;
  max-height:50vh;
  min-height: 47vh;
  height: 470px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px black;
  color: black;
  padding: 10px 20px;
}

.desc {
  overflow: auto;
  height: 100%;
  font-family: 'Cascadia Code';
}

.container {
  position: relative;
  height: 100%;
}

.imege {
  width: 100%;
  max-height: 500px;
  border-radius: 20px 20px 0 0;
  display: block;
  margin: auto;
  aspect-ratio: 2 / 1;
}


.mySlides {
  display: none; 
}


.cursor {
  cursor: url(../media/cursor_big2.png), auto;
}


.prev,
.next {
  cursor: url(../media/cursor_big2.png), auto;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.caption-container {
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

a {
  text-decoration: none;
}

.close_btn {
  width: 40px; 
  height: 40px; 
  margin-bottom: 0;
  position: absolute;
  right: 0;
  margin-right: 20px;
  border-radius: 100%;
  border: 3px solid white;
  background-color: #fc5d5f;
  cursor: url("../media/cursor_big2.png"), auto !important;
  z-index: 10;
}

.img-container {
  height: auto;
  aspect-ratio: 2/1;
}

.img-container::after {
  position: absolute;
  content: '';
  display: block;
  box-shadow: inset 0 0 5px black;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 20px;
}
